.terraform/
.terragrunt-cache/
node_modules
/api/dist
/api/coverage
.env

## Data folders (except for root "data" module which contains all the data engineering bits
/data/datasets/**
/data/**/data

infrastructure/base/vars/*
infrastructure/kubernetes/vars/*
!infrastructure/base/vars/terraform.tfvars
!infrastructure/kubernetes/vars/terraform.tfvars
/infrastructure/kubernetes/bastion_tunnel.sh

# python land

__pycache__/
