.terraform/
.terragrunt-cache/
node_modules
/api/dist
/api/coverage
.env
.vscode

## Data
/data/datasets/**
/data/h3_data_importer/data

infrastructure/base/vars/*
infrastructure/kubernetes/vars/*
!infrastructure/base/vars/terraform.tfvars
!infrastructure/kubernetes/vars/terraform.tfvars
/infrastructure/kubernetes/bastion_tunnel.sh
