@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply text-base lg:text-xl font-light text-black bg-white antialiased;
  }

  h1, h2, h3 {
    @apply font-light;
  }

  .font-heading-1 {
    @apply text-4xl xl:text-7xl font-semibold;
  }
  .font-heading-2 {
    @apply text-3xl xl:text-6xl font-light;
  }
  .font-heading-3 {
    @apply text-2xl xl:text-5xl font-light;
  }
  .font-heading-4 {
    @apply text-xl xl:text-3xl font-light;
  }

  input[type="search"]::-webkit-search-decoration,
  input[type="search"]::-webkit-search-cancel-button,
  input[type="search"]::-webkit-search-results-button,
  input[type="search"]::-webkit-search-results-decoration {
    -webkit-appearance: none;
  }

  .checkbox-circle {
    background: black;
    border-radius: 2rem;
    height: 20px;
    left: 4px;
    position: absolute;
    top: 4px;
    visibility: hidden;
    width: 20px;
    z-index: 10;
  }

  input[type='checkbox']:checked {
    background: transparent;
    border: 1px solid black;
  }

  input[type='checkbox']:checked ~ .checkbox-circle {
    visibility: visible;
  }
}
