@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    -webkit-font-smoothing: antialiased;
  }

  input[type="search"]::-webkit-search-decoration,
  input[type="search"]::-webkit-search-cancel-button,
  input[type="search"]::-webkit-search-results-button,
  input[type="search"]::-webkit-search-results-decoration {
    -webkit-appearance: none;
  }

  .checkbox-circle {
    background: black;
    border-radius: 2rem;
    height: 20px;
    left: 4px;
    position: absolute;
    top: 4px;
    visibility: hidden;
    width: 20px;
    z-index: 10;
  }

  input[type='checkbox']:checked {
    background: transparent;
    border: 1px solid black;
  }

  input[type='checkbox']:checked ~ .checkbox-circle {
    visibility: visible;
  }

  @font-face {
    font-family: "Public-Sans";
    src: url("/fonts/PublicSans-regular.woff") format("woff");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "Public-Sans-SemiBold";
    src: url("/fonts/PublicSans-semibold.woff") format("woff");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "Montserrat";
    src: url("/fonts/Montserrat.woff") format("woff");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
  }
}
