@tailwind base;
@tailwind components;
@tailwind utilities;

@-webkit-keyframes autofill {
  0%,100% {
    color: #666;
    background: transparent;
  }
}

@layer base {
  input:-webkit-autofill,
  input:-webkit-autofill:focus {
      transition: background-color 0s 60000s, color 0s 60000s;
  }
  input[data-autocompleted] {
      background-color: transparent !important;
  }
}

@layer utilities {
  /* We want a blur effect without having a high opacity background, but we still want the
  background to be visible for the browsers that don't support backdrop-filter, so we double the
  background opacity. This can be tested on Firefox. */ta
  .bg-blur {
    @apply bg-opacity-40;
  }

  @supports (backdrop-filter: blur(4px)) {
    .bg-blur {
      @apply bg-opacity-20;
      backdrop-filter: blur(4px);
    }
  }


}