@import '~antd/lib/style/themes/default.less';

// Global
@primary-color: #00634A;
@primary-1: #EBF6F1;

@border-radius-base: 0.375rem;
@height-base: 38px;

// Select
@select-border-color: rgba(194, 197, 201, 1);
@select-item-selected-color: @primary-color;
@select-selection-item-bg: @primary-1;
@select-selection-item-border-color: @primary-1;

// Table
@gray-100: #F9FAFB;
@gray-200: #E5E7EB;
@gray-300: #D1D5DB;

// Select Custom
.ant-select {
  &:not(.ant-select-disabled) {
    &:hover {
      .ant-select-selector {
        border: 1px solid @select-border-color;
      }
    }

    &.ant-select-focused {
      .ant-select-selector {
        transition: none;
        box-shadow: 0 0 0 1px @primary-color !important;
      }
    }
  }

  .ant-select-selector {
    transition: none !important;
  }

  &.ant-select-multiple {
    .ant-select-selection-item {
      border-radius: 5rem;
    }

    .ant-select-selection-item-remove {
      position: relative;
      width: 0.75rem;
      height: 0.75rem;
      flex-shrink: 0;
      top: 50%;
      transform: translateY(-50%);

      svg {
        vertical-align: top;
        color: black;
      }
    }

    .ant-select-clear {
      right: 32px;
    }
  }

  .ant-select-arrow {
    width: 1.25rem;
    height: 1.25rem;
    margin-top: 0;
    transform: translateY(-50%);

    svg {
      width: 1.25rem;
      height: 1.25rem;
      color: black;
    }
  }
}

.ant-select-selection-search-input {
  box-shadow: none !important;
}

.ant-select-selection-item-content {
  color: @primary-color;
}

// Table Custom

.ant-table-cell-fix-left-last {
  border-right: 1px dotted @gray-300;
}

.ant-table-cell::before {
  display: none;
}

.ant-table-cell-fix-left-last {
  &::before {
    box-shadow: none;
  }
  &::after {
    box-shadow: none;
  }
}

.ant-table-cell {
  &.ant-table-cell-fix-left {
    &.ant-table-cell-with-append {
      display: flex;
      align-items: center;
    }
  }
}
.ant-table-row.ant-table-row-level-0 {
  td {
    height: 67.5px;
  }
}

.ant-table-row.ant-table-row-level-1 {
  .ant-table-cell {
    height: 40px;
    padding-top: 0;
  }
}

.ant-table-row.ant-table-row-level-1>td {
  padding-bottom: 10px;
  padding-top: 10px;
  vertical-align: bottom;
}

thead[class*="ant-table-thead"] th{
  border-bottom: 1px solid @gray-200;
  height: 40px;
}

.ant-table-row {
  &:nth-of-type(2n +1) {
    background-color: @gray-100;
    .ant-table-cell-fix-left {
      background-color: @gray-100;
    }
  }
}

.ant-table-ping-right:not(.ant-table-has-fix-right) .ant-table-container::after { 
  box-shadow: none;
  -webkit-box-shadow: none; 
}