@tailwind base;
@tailwind components;
@tailwind utilities;

@-webkit-keyframes autofill {
  0%,100% {
    color: #666;
    background: transparent;
  }
}

@layer base {
  input[type='search']::-webkit-search-decoration,
  input[type='search']::-webkit-search-cancel-button,
  input[type='search']::-webkit-search-results-button,
  input[type='search']::-webkit-search-results-decoration {
    -webkit-appearance: none;
  }

  /* Chrome, Safari, Edge, Opera */
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  input[type=number] {
    -moz-appearance: textfield;
  }

  body {
    @apply text-gray-900 antialiased;
  }

  h1 {
    @apply text-3xl font-medium;
  }

  h2 {
    @apply text-xl font-medium;
  }

  h3 {
    @apply text-lg font-medium;
  }
}

@layer utilities {
  /* We want a blur effect without having a high opacity background, but we still want the
  background to be visible for the browsers that don't support backdrop-filter, so we double the
  background opacity. This can be tested on Firefox. */ta
  .bg-blur {
    @apply bg-opacity-40;
  }

  @supports (backdrop-filter: blur(4px)) {
    .bg-blur {
      @apply bg-opacity-20;
      backdrop-filter: blur(4px);
    }
  }
}

/* RC Tree checkbox override */
.rc-tree-checkbox {
  @apply h-4 w-4 border border-gray-200 flex-shrink-0 rounded;
}

.rc-tree-checkbox.rc-tree-checkbox-checked {
  @apply bg-green-700;
}

.rc-tree-checkbox.rc-tree-checkbox-indeterminate {
  @apply bg-green-200;
}

.rc-tree-node-content-wrapper {
  @apply text-ellipsis truncate overflow-hidden w-full;
}

.rc-tree-title {
  @apply text-gray-900 w-full;
}

/* ka-table overrides */
.ka {
  /* @apply bg-transparent; */
  background-color: transparent;
}

.ka-table .ka-thead-background {
  @apply bg-gray-50;
}

.ka-table .ka-empty-cell {
  width: 0;
  min-width: 0;
}

.ka-table .ka-cell {
  line-height: normal;
}
.ka-table tr:first-child th:first-child {
  border-top-left-radius: 0.5rem; /* rounded-lg */
}

.ka-table tr:first-child th:last-child {
  border-top-right-radius: 0.5rem; /* rounded-lg */
}

.ka-table tr:last-child td:first-child {
  border-bottom-left-radius: 0.5rem; /* rounded-lg */
}

.ka-table tr:last-child td:last-child {
  border-bottom-right-radius: 0.5rem; /* rounded-lg */
}

.ka-table .ka-icon-sort {
  display: none;
}

.ka-cell-text::first-letter {
  text-transform: uppercase;
}
