@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }

  * {
    @apply border-border;
  }
  /* body {
    @apply bg-background text-foreground;
  } */

  input[type='search']::-webkit-search-decoration,
  input[type='search']::-webkit-search-cancel-button,
  input[type='search']::-webkit-search-results-button,
  input[type='search']::-webkit-search-results-decoration {
    @apply appearance-none;
  }

  /* Chrome, Safari, Edge, Opera */
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    @apply m-0 appearance-none;
  }

  /* Firefox */
  input[type='number'] {
    -moz-appearance: textfield;
  }

  body {
    @apply antialiased text-gray-900;
  }

  h1 {
    @apply text-3xl font-semibold;
  }

  h2 {
    @apply text-2xl font-semibold;
  }

  h3 {
    @apply text-lg font-semibold;
  }

  h4 {
    @apply text-xs font-normal;
  }

  /* Fixing override from TailwindCSS base styles */
  text[type='number'] {
    font-size: inherit;
    font-weight: inherit;
  }
}

@-webkit-keyframes autofill {
  0%,
  100% {
    color: #666;
    @apply bg-transparent;
  }
}


.rc-tree .rc-tree-checkbox {
  @apply hidden;
}

.rc-tree .rc-tree-iconEle {
  @apply bg-transparent;
}

.rc-tree .rc-tree-node-content-wrapper {
  @apply flex flex-row w-full gap-1 overflow-hidden truncate text-ellipsis place-items-center;
}

.rc-tree .rc-tree-title {
  @apply w-full text-gray-900;
}

.rc-tree .rc-tree-indent-unit {
  @apply w-4;
}

.rc-tree-treenode-disabled .rc-tree-title {
  @apply text-gray-300;
}

/* Recharts */
.recharts-label {
  @apply text-xs fill-gray-400;
}

/* Maplibre Compare */
.maplibregl-compare .compare-swiper-horizontal {
  @apply bg-navy-400 w-8 h-8 -mt-4 bg-cover;
}
